# Tons of data file which can be get through npm or git.
node_modules
package-lock.json
data/image/mian_pics
data/log

# Visual studio project files
.vs
bin
*.njsproj
*.sln
obj

# JetBrains WebStorm project files
.idea/*

# This config file is for Github LFS, 
# which can upload large file (mian's screenshot zip file) to Github.
.gitattributes

# Unfinished documents
doc/unfinished-documents/*

# script for trying call modules on root directory
try.js