[submodule "data/WhoCallsTheFleet-DB"]
	path = data/WhoCallsTheFleet-DB
	url = git@github.com:TeamFleet/WhoCallsTheFleet-DB.git
[submodule "data/image/WhoCallsTheFleet-Pics"]
	path = data/image/WhoCallsTheFleet-Pics
	url = git@github.com:TeamFleet/WhoCallsTheFleet-Pics.git
[submodule "data/image/KanColleRest-Mian-Screenshots"]
	path = data/image/KanColleRest-Mian-Screenshots
	url = https://github.com/boholder/KanColleRest-Mian-Screenshots.git
[submodule "doc/KanColleRest.wiki"]
	path = doc/KanColleRest.wiki
	url = git@github.com:boholder/KanColleRest.wiki.git
